os: linux
language: rust
cache:
  cargo: true

git:
  depth: 1

branches:
  only:
    - master
    - /^release\/.+$/

script: make $SUITE

matrix:
  include:
    - env: SUITE=format-check
    - env: SUITE=lint
    - env: SUITE=test
      rust: "1.31.0"

  allow_failures:
    - env: SUITE=format-check
    - env: SUITE=lint

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/374194e0-16ca-11e9-94ef-0a580a280304/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
